* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Robot, Arial;
}
body{
  margin-bottom: 5000px;
}
.header{
  background-color: white;

}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: rgb(21, 19, 18);
  color: white;  
  
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #58a6ff; 
}

